*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
	font-family: 'PT Sans', sans-serif;
}

#loading{
	background-color: #fcdb00;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 100px;
	height: 100px;
	background-color: #000;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
/*--------------------------------------------*/




/*------------------ header-------------------*/
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4{
	font-weight: 700;
	color: #000;
}

h3{
	font-weight: 400;
}

h2{
	text-align: center;
}

.header{
	background: #fcdb00;
	color:#010101;
	padding-top: 58px;
	padding-bottom: 105px;
}

.menu{
	margin-top:8px;
}

.menu__item{
	margin: 0 57px;
}

.menu__item a{
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.menu__item a:hover{
	color: #000;
}

.offer{
	margin-top: 117px;
}

.offer__title{
	font-size: 32px;
	margin-bottom: 6px;
}

.offer__into{
	font-size: 20px;
	line-height: 1.3em;
}

.offer__text{
	font-size: 16px;
	margin-top: 15px;
	color: #555555;
	width: 400px;
}


.icons__item{
	margin-right: 30px;
}

.icons__item a{
	color:#000;
	font-size: 48px;
	transition: all 0.1s ease;
}


.icons__item a:hover {
	text-decoration: none;
	color: #ffffff;
}

.let:hover{
	transition: all 0.5s ease;
	-webkit-transform: scale(2);
}

.ipad{
	display: block;
	margin: 60px auto 0;
}

/*---------------------------------------*/





/*-------------- section/feactures--------*/
.title{
	padding-top: 100px;
	padding-bottom: 70px;
	text-align: center;
}

.title__main{
	font-size: 32px;
}

.title__text{
	font-size: 20px;
	width: 780px;
	margin: 0 auto;
}

.feature{
	margin-bottom: 70px;
}


.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__text{
	color:#898989;
}


.flipbox {
  margin-top: 50px;	
  background-color: #ffffff;
  width: 300px;
  height: 250px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px;
}

.flipbox__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipbox:hover .flipbox__inner {
  transform: rotateY(180deg);
}

.flipbox__front, .flipbox__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipbox__front {
  background-color: #fcdb00;
  color: black;
}

.flipbox__back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}
/*----------------------------------------*/




/*-------------- section/tuch -----------*/
.tuch{
	background-color: #010101;
	color:#fff;
}

.form{
	text-align: center;
}

.form__input{
	background-color:#fff;
	font-size: 16px;
	border-radius: 5px;
	font-family: 'PT Sans', sans-serif;
	width: 580px;
	padding: 14px 0;
	margin-right: 20px;	
	border: 0;
	padding-left: 23px;
}

.form__btn{
	font-family: 'PT Sans', sans-serif;
	background:#fcdb00;
	color: #000;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	border-radius: 5px;
	width: 126px;
	border: 0;
	padding: 14px 0;
	cursor: pointer;
}
/*---------------------------------------*/






/*------------------ footer --------------*/
.footer{
	background-color: #000;
	padding: 50px 94px;
}

.credits{
	text-align: center;
	color:#fff;
	font-size: 16px;
	width: 200px;
	margin: 0 auto;

}
/*----------------------------------------*/






@media only screen and (max-width: 992px) {
   .logo{
		display: block;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.offer{
		text-align: center;
	}

	.offer__text{
		margin: 0 auto;
		margin-top: 10px;
		width: auto;
	}

	.icons{
		justify-content: center;
	}

	.title__text{
		width: 100%;
	}

	.form__input{
		margin-right: 0;
		width: 100%;
	}

	.form__btn{
		width: 100%;
		margin-top: 15px;
	}
}


@media only screen and (max-width: 576px){

	.ipad {
        width: 100%;
    }

	.menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }

}